html {
    /*background-image: url(/jpgs/backgroundimage.jpeg);*/
    background-size: cover;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: white;
}

header {
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color: white;
}

header .homeicon img {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
}

.vertical-nav {
    height: 100vh;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: width 0.3s;
}

.vertical-nav.expanded {
    width: 200px;
}

.vertical-nav a, .vertical-nav #toggle-btn {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.vertical-nav a {
    display: flex;
    align-items: center;
}

.vertical-nav a:hover {
    background-color: #c6bebe;
}

.vertical-nav a img {
    width: 24px; 
    height: 24px;
    margin-right: 10px;
    object-fit: contain;
}

.vertical-nav a span {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.vertical-nav.expanded a span {
    opacity: 1;
    visibility: visible;
}

#toggle-btn {
    font-size: 30px;
}

.content {
    margin-left: 60px; 
    padding: 20px;
    transition: margin-left 0.3s;
}

.content.expanded {
    margin-left: 200px; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20%;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.box img {
    width: 60%;
    height: 60%;
}

.box h2{
    margin-right: 28%;
}

.content h1 {
    color: white;
}


